<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <form action="/users/signup" method="POST">
        <div>
            <input type="text" id="email2" name="email2" placeholder="Enter Email" required>
        </div>
        <div>
            <input type="text" id="pass2" name="pass2" placeholder="Enter Pass" required>
        </div>
        <a href="/users/signup">Signup</a>
        </form>
    </body>
</html>