<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Signup</title>
    </head>
    <body>
        <h1>Signup</h1>
        <form action="/users/signup" method="POST">
        <div>
            <input type="text" id="username" name="username" placeholder="Enter Name" required/>
        </div>
        <div>
            <input type="email" id="email" name="email" placeholder="Enter Email" required/>
        </div>
        <div>
            <input type="password" id="pass" name="pass" placeholder="Enter Pass" required/>
        </div>
        <div>
            <input type="submit" value="Signup"/>
        </div>
        <a href="/users/login">Login</a>
        </form>
    </body>
</html>