.barHover {
    cursor: pointer;
    display: flex;
    align-items: center;
    
}

.barHover > .MuiSvgIcon-root {
    padding: 10px;
}

.barHover > h2 {
    font-size: 15px;
    margin-right: 25px;
    font-weight: 700;
}

.barHover:hover{
    border-radius: 20px;
    background-color: grey;
    color: green;
}

.barHover--active{
    color: grey;
}