.feed{
    overflow-y: scroll;
    flex: 0.7;
    border-right: 5px solid var(--background);
}

.feed::-webkit-scrollbar{
display: none;
}

.feed__header{
    border: 5px solid var(--background);
    padding: 15px 20px;
    position: sticky;
    top: 0;
    background-color: white;
}

