.dogs {
    display: flex;
    border-bottom: 1px solid var(--background);
    padding-bottom: 20px;
    align-items: flex-start;
}
.avatar {
  padding: 20px;
}
.messageBody {
    flex: 1;
    padding: 10px;
  }
  
  .messageBody > img {
    border-radius: 40px;
    width: 100%;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .badge {
    font-size: 20px !important;
    color: green;
  }
  

  
